body{
    background: black;
}
div.logo img{
}
h1{
    display: block;
    text-align: center;
    vertical-align: top;
}
#progress{
    background-color: yellow;
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
img{
    vertical-align: top;
    margin: -11px;
    padding: 0px;
    left: 0px;
    right: 0px;
}
h2{
    text-align: left;
    display: block;
}

h3{
    display: block;
    bottom: 15px;
    position: relative;
    font-family: Quattrocento, sans-serif;
    color: antiquewhite;
    text-align: center;
}
.button1{
    color: antiquewhite;
    text-decoration: underline; 
    text-decoration-color:  color: antiquewhite;
}


@media screen and (max-width: 318px){
    div.logo img{
        width: 48%;}
    img{
        width: 107%;}
    h3{
        font-size: 15px;}
    .button1{
        font-size: 16px;}
}
@media screen and (min-width: 319px) and (max-width: 373px){
    div.logo img{
        width: 45%;}
    img{
        width: 106%;}
    h3{
        font-size: 15px;}
    .button1{
        font-size: 16px;}
}
@media screen and (min-width: 374px) and (max-width: 375px){
    div.logo img{
        width: 52%;}
    img{
        width: 105%;}
    h3{
        font-size: 18px;}
    .button1{
        font-size: 19px;}
}
@media screen and (min-width: 376px) and (max-width: 411px){
    div.logo img{
        width: 48%;}
    img{
        width: 104.9%;}
    h3{
        font-size: 17px;}
    .button1{
        font-size: 18px;}
}
@media screen and (min-width: 412px) and (max-width: 414px){
    div.logo img{
        width: 49%;}
    img{
        width: 104.5%;}
    h3{
        font-size: 18px;}
    .button1{
        font-size: 19px;}
}
@media screen and (min-width: 415px) and (max-width: 500px){
    div.logo img{
        width: 43%;}
    img{
        width: 104%;}
    h3{
        font-size: 18px;}
    .button1{
        font-size: 19px;}
}
@media screen and (min-width: 501px) and (max-width: 600px){
    div.logo img{
        width: 48%;}
    img{
        width: 103.5%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 601px) and (max-width: 650px){
    div.logo img{
        width: 40%;}
    img{
        width: 103%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 651px) and (max-width: 700px){
    div.logo img{
        width: 40%;}
    img{
        width: 102.5%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 701px) and (max-width: 765px){
    div.logo img{
        width: 41%;}
    img{
        width: 102.5%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 766px) and (max-width: 768px){
    div.logo img{
        width: 42%;}
    img{
        width: 102.3%;}
    h3{
        font-size: 26px;}
    .button1{
        font-size: 27px;}
}
@media screen and (min-width: 769px) and (max-width: 900px){
    div.logo img{
        width: 40%;}
    img{
        width: 102.3%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 901px) and (max-width: 1000px){
    div.logo img{
        width: 39%;}
    img{
        width: 102.5%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 1001px) and (max-width: 1100px){
    div.logo img{
        width: 33%;}
    img{
        width: 102%;}
    h3{
        font-size: 31px;}
    .button1{
        font-size: 32px;}
}
@media screen and (min-width: 1101px) and (max-width: 1200px){
    div.logo img{
        width: 30%;}
    img{
        width: 101.5%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 1201px) and (max-width: 1300px){
    div.logo img{
        width: 25%;}
    img{
        width: 101.5%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 1301px) and (max-width: 1400px){
    div.logo img{
        width: 25%;}
    img{
        width: 101.4%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 1401px) and (max-width: 1500px){
    div.logo img{
        width: 25%;}
    img{
        width: 101.2%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 1501px) and (max-width: 1920px){
    div.logo img{
        width: 25%;}
    img{
        width: 101%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}
@media screen and (min-width: 1921px){
    div.logo img{
        width: 20%;}
    img{
        width: 101%;}
    h3{
        font-size: 20px;}
    .button1{
        font-size: 20px;}
}